<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Select Your Spa Services</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<form method = 'post'>
    <div>
        <label> Username
            <input type="text" value="username">
        </label>
    </div>
    <br>
    <div>
        <label> Email
            <input type="email" value="email">
        </label>
    </div>
    <br>
    <div>
        <label> Password
            <input type="password" value="password">
        </label>
    </div>
    <br>
    <input type="submit" value="Submit">
</form>

</body>
</html>